@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@300;400;500;700&display=swap');

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: hsl(30, 38%, 92%);
}

main{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 450px;
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 0.5rem;
}

.img-half{

}

.product-img{
    max-width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.desc-half{
    margin: 1.5rem;
}

.product-category{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 300;
}

.product-title{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    margin: 12px 0;
}

.product-desc{
    font-weight: 400;
    font-size: 18px;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
    margin: 12px 0;
}

.product-price{
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.price-new{
    font-family: 'Fraunces', serif;
    font-size: 32px;
    padding-right: 16px;
    color: hsl(158, 36%, 37%);
}

.price-old{
    color: hsl(228, 12%, 48%);
}

.btn-cart{
    background: hsl(158, 36%, 37%);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    padding: 15px;
    font-weight: 500;
    font-size: 20px;
    transition: .5s;
}

.btn-cart:hover,
.btn-cart:active{
    background: hsl(158, 60%, 20%);
}

.btn-cart-icon{
    padding-right: 15px;
}

@media (min-width: 769px){
    .card{
        flex-direction: row;
        min-width: 650px;
        margin: 1rem 0;
        border-radius: 0.5rem;
    }

    .img-half{
        flex: 1 1 0;
    }

    .product-img{
        display: block;
        min-height: 100%;
        border-radius: 0.5rem 0 0 0.5rem;
    }

    .desc-half{
        min-height: 100%;
        flex: 1 1 0;
        padding: 2rem;
        margin: 0;
    }
}

footer{
    width: 100%;
    text-align: center;
    color: hsl(228, 12%, 48%);
}
footer a{
    text-decoration: none;
    color: hsl(158, 36%, 37%);
    transition: .5s;
}
footer a:hover,
footer a:active{
    color: hsl(158, 60%, 20%);
}
