@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
    color: hsl(218, 44%, 22%);
}

main{
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 90vw;
    margin: 5rem 0;
    padding: 30px 0;
    max-width: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: hsl(0, 0%, 100%);
}

img{
    width: 350px;
    border-radius: 2rem;
}

.text{
    padding: 50px 50px;
}

.text h1{
    font-size: 25px;
    font-weight: 700;
}

.text p{
    padding-top: 15px;
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 445px){
    img{
        width: 300px;
    }
    .text{
        padding: 50px 25px;
    }
}

a{
    text-decoration: none;
    color:hsl(218, 44%, 22%);
    transition: .5s;
}

a:hover{
    color: hsl(240, 45%, 44%)
}

footer{
    bottom:0;
    width:100%;
    text-align: center;
  }